#header{
	position: relative;
	font-size: 1.2em;
	width: 100%;
	height: 44px;
	text-align: center;
	color: #fff;
	background-color: #3b5998;
	border-bottom: 2px solid #1d4088;
	z-index: 99;
}
#header #title{
	margin: auto;
	height:25px;
	text-align: center;
	line-height: 1.7em;
	font-weight: bold;
	color: #fff;
	display: inline;
	font-size: 1.2em;
}
.container{
	margin-top: 55px;
	margin-left: 55px;
}

.entry{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}



/** %[Object] Switch */
/*------------------------------------*/
.switch {
	color: #6f839a;
	cursor: pointer;
	font-weight: 600;
	line-height: 1.5em;
	border-radius: 3px;
	padding: .125em .5em;
	display: inline-block;
	background-color: #3e4956;
	-webkit-transition: .15s ease;
	-moz-transition: .15s ease;
	-ms-transition: .15s ease;
	-o-transition: .15s ease;
	transition: .15s ease;
}

input[type="radio"]:checked + .switch {
	color: #fff;
	padding-left: 1em;
	padding-right: 1em;
}

input[type="radio"]:checked + .switch--on {
	background-color: #7eab55;
}

input[type="radio"]:checked + .switch--off {
	background-color: #dd4a38;
}
